* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 15px;
}

window#waybar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.0));
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#cpu, #memory, #disk, #network, #temperature, #wireplumber, #tray, #clock, #battery, #bluetooth {
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
}

#clock {
    font-weight: bold;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
